body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.Box{
   position: absolute;

}
.Red-box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.Green-box{
    width: 100px;
    height: 100px;
    background-color:Green;
}
.Blue-box{
    width: 100px;
    height: 100px;
    background-color: Blue;
}
.Pink-box{
    width: 100px;
    height: 100px;
    background-color:violet;
}
