body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    position: centre;
}
.container-RP, .container-BG {
    position: centre;
    width: 310px;
}
.Box {
    width: 300px;
    height: 200px;
    position: relative;
}

.Red-box {
    border: 7px solid red;
    right: 50px;
}

.Blue-box {
    border: 7px solid blue;
}

.Pink-box {
    border: 7px solid #ffaec9;
    top: 50px;
    right: 50px; 
}

.Green-box {
    border: 7px solid green;
    top: 50px; 
}

@media (max-width: 600px) {
    .container {
        width: 160px; /* Adjust width for smaller screens */
    }
    .box {
        width: 80px;
        height: 80px;
    }
}

